.student{
margin-left: 400px;
}
.nav-link:hover{
   color: rgb(51, 66, 28);
}
.nav-link{
    font-size: large;
    font-family: 'Lucida Sans',
     'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
